@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fffbfb
}
.section-scroll::-webkit-scrollbar {
  display: none;
}
.section-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.CardImage {
  height : 30rem
}
.CardA {
  margin : 0 auto
}
.swiper-button-next {
  color : #e96990
}
.button_file {
  margin : 50% auto
}
.img_post {
  height : 30rem;
}
.img_profile {
  height : 7rem;
}
